
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.employeeCode}}"
      placeholder="Your last name"
      name="e_code"
    />
    <label for="floatingInput">Code:</label>
  </div> 
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.employeeLastname}}"
      placeholder="Your last name"
      name="e_lastname"
    />
    <label for="floatingInput">Last Name:</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.employeeFirstname}}"
      placeholder="Your first name"
      name="e_firstname"
    />
    <label for="floatingInput">First Name:</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.employeeSuffix}}"
      placeholder="Your middle name"
      name="e_suffix"
    />
    <label for="floatingInput">Suffix:</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.employeePhone}}"
      placeholder="Your middle name"
      name="e_phone"
    />
    <label for="floatingInput">Phone Number:</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.employeeAddress}}"
      placeholder="Your middle name"
      name="e_address"
    />
    <label for="floatingInput">Address:</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.employeePosition}}"
      placeholder="Your middle name"
      name="e_position"
    />
    <label for="floatingInput">Position:</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.employeeUsername}}"
      placeholder="Your middle name"
      name="e_username"
    />
    <label for="floatingInput">Username:</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.employeePassword}}"
      placeholder="Your middle name"
      name="e_password"
    />
    <label for="floatingInput">Password:</label>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      value="{{this.employeeStatus}}"
      placeholder="Your middle name"
      name="e_status"
    />
    <label for="floatingInput">Status:</label>
  </div>
  
    <div class="col-12">
        <button class="btn btn-light text-dark" type="submit">Submit</button>
    </div>